body {
    margin: 0;
    overflow: hidden;
    background: url('background.jpg') no-repeat center center fixed;
    background-size: cover;
}

canvas {
    display: block;
    margin: auto;
    background: transparent;
}

#restartButton {
	display: none;
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px 20px;
	font-size: 20px;
	background-color: #FF1493;
	color: #fff;
	border: none;
	cursor: pointer;
}

#startButton {
	display: none;
	position: absolute;
	top: 15%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 10px 20px;
	font-size: 20px;
	background-color: #FF1493;
	color: #fff;
	border: none;
	cursor: pointer;
}

#prizeContainer {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);	
	padding: 10px 20px;	
    background-color: #ffeb3b;
    border: 2px solid #fbc02d;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 70%;
    max-width: 80%;
}

.prizeMessage h1 {
    font-size: 36px;
    color: #4caf50;
    margin: 0 0 20px;
}

.prizeMessage p {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
}